[submodule "Data Structures/Theory/Project"]
	path = Data Structures/Theory/Project
	url = https://github.com/leohum69/Smart-City-Waste-Collection-Route-Optimization
[submodule "Encryption-Ciphers"]
	path = Encryption-Ciphers
	url = https://github.com/leohum69/Encryption-Ciphers
[submodule "COAL/Project"]
	path = COAL/Project
	url = https://github.com/leohum69/-Candy-Crush-Game-in-Assembly
[submodule "DF(Digital Forensics)/Theory/Project"]
	path = DF(Digital Forensics)/Theory/Project
	url = https://github.com/leohum69/Cyber-Triage-Tool
[submodule "OOP/Theory/Project"]
	path = OOP/Theory/Project
	url = https://github.com/leohum69/HealthCare-Managment-System-OOP
[submodule "OS/Theory/Project"]
	path = OS/Theory/Project
	url = https://github.com/leohum69/Ludo-with-Threads
[submodule "PF/Theory/Project"]
	path = PF/Theory/Project
	url = https://github.com/leohum69/StockMarket-PF-project
[submodule "Web Programming/Project"]
	path = Web Programming/Project
	url = https://github.com/leohum69/PeerLearn-Hub
