/* General Styles */
body {
    font-family: Arial, sans-serif;
  }
  
  #booking {
    padding: 50px 0;
    background-color: #f7f7f7;
  }
  
  .course-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    text-align: center;
  }
  
  .course-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .course-card-body h3 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 15px;
  }
  
  .course-card-body h4 {
    font-size: 1.2rem;
    color: #3b8115;
    margin-bottom: 20px;
  }
  
  .course-card-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .course-card-body ul li {
    font-size: 1rem;
    color: #666;
  }
  
  .course-status {
    font-weight: bold;
  }
  
  .status {
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 1rem;
    display: inline-block;
  }
  
  .booked {
    background-color: #28a745;
    color: white;
  }
  
  .available {
    background-color: #007bff;
    color: white;
  }
  
  .course-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .col-lg-3,
  .col-md-6 {
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .course-card {
      padding: 15px;
    }
    .course-card-body h3 {
      font-size: 1.2rem;
    }
    .course-card-body h4 {
      font-size: 1rem;
      
    }
  }
  